

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Header styles */
header {
  background-color: #04545a;
  color: #fff;
  padding: 20px;
}

header h1 {
  font-size: 28px;
  margin: 0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
}

/* Hover styles for navigation links */
nav ul li a:hover {
  background-color: Orange;
}

/* Section styles */
section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

section ul {
  margin-left: 20px;
}

/* Contact form styles */
form input,
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px 20px;
  background-color: #04545a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Footer styles */
footer {
  background-color:#04545a;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header img {
width: 90px;
height:auto; 
}
main img {
  width: 90px;
  height:auto; 
  }
  
  
  .sitemap ul {
    list-style: none;
  }
  
  .sitemap ul li {
    margin-bottom: 10px;
  }
  
  .sitemap ul li a {
    color: #fff;
    text-decoration: none;
  }
  